<!doctype html>
<html>
<head>
  <title>Setlist</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
  <!-- <header><img src="/inthecourtofthecrimsonking-100px.jpg"></header> -->
  {{{body}}}
</body>
</html>
