<h2>Edit Setlist</h2>

<div id="markdown">
  <form class="edit-form" role="form" action="/save" method="POST">
    <textarea id="markdown-editor" name="markdown" autofocus>{{markdown}}</textarea>
    <br>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
